/****************************************************************************


REGIS32.RC

produced by Borland Resource Workshop


*****************************************************************************/

